.searchContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;

}

.searchForm {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.searchButtonCity {
    font-family: var(--basicFont);
    font-size: 12px;
    font-weight: var(--fontWeight);
    margin-left: 15px;
    color: var(--white);
}