.cardSun {
    position: relative;
    padding: 20px;
    background-image: url("../../images/gif-sun.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cardRain {
    position: relative;
    background-image: url("../../images/gif-rain.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
}

.cardClouds {
    position: relative;
    background-image: url("../../images/Clouds-gif.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
}

.cardClear {
    position: relative;
    background-color: rgb(104, 204, 251);
    padding: 20px;
}

.deleteButton {
    position: absolute;
    top: 7px;
    right: 5px;
    min-width: 25px;
    min-height: 25px;
    border-radius: 50%;
}

.deleteButton:hover {
    background-color: rgb(243, 93, 93);
}

.deleteButton>svg {
    fill: red;
    font-size: 17px;
}

.deleteButton:hover>svg {
    fill: white;
}

.cardTitle {
    font-family: "Raleway";
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 1.2px;
    color: #fff;
    text-align: center;
}

.cardSubTitle {
    font-family: "Raleway";
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1.1px;
    color: #fff;
    text-align: center;
    margin-bottom: 4px;
}

.containerInfo {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.containerItemsInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.containerItemsInfo>span {
    font-family: "Raleway";
    font-size: 26px;
    font-weight: bold;
    color: white;
    text-align: center;
    width: 50px;
}

.containerItemsInfo>p {
    font-family: "Raleway";
    font-size: 18px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 1px;
    letter-spacing: 1.4px;
}

.currentTimeContainer {
    font-family: "Raleway";
    font-size: 18px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-bottom: 20px !important;
}

.containerButtonInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 50%;
    margin: 0 auto;
    text-align: center;
}

.containerButtonInfo>a {
    color: #fff;
    text-decoration: none;
    font-family: "Raleway";
    font-size: 12px;
    font-weight: normal;
}

.containerButtonInfo>a>button {
    padding: 5px 17px;
}