.containerError {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.buttonError {
    width: 100%;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

